$almond: #e9d4bfff;
$asparagus: #7d9e5bff;
$black: #242121;
$lilac: #d09ac5ff;
$orange: #bb442cff;

:export {
	almond: $almond;
	asparagus: $asparagus;
	lilac: $lilac;
	orange: $orange;
  black: $black;
}
