@mixin serifFont {
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-weight: 600;
}
body {
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $black;
}
h1, h2, h3, h4, h5, h6 {
  @include serifFont;
}
h1 {
  font-size: 32px;
  letter-spacing: -1px;
}
h2 {
  font-size: 28px;
  letter-spacing: -1px;
}
h3 {
  font-size: 24px;
  letter-spacing: -0.75px;
}
h4 {
  font-size: 20px;
  letter-spacing: -0.75px;
}
h5 {
  font-size: 18px;
  letter-spacing: -0.5px;
}
h6 {
  font-size: 16px;
  letter-spacing: -0.5px;
}

em {
  font-style: italic;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 700px;
}
